<div class="container">
    <% @spaces.each do |space| %>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card bg-light mb-3 border-danger">
                    <div class="card-body">    
                        <h4 class="card-title"><%= space.name %></h4>
                        <h5><%= space.description %></h5>
                        
                        <img src="/<%=space.id%>.jpg" class="card-img-top">
                        <p><br>Price per night is £<%= space.price_per_night %></p>
                        <a href="/space/<%=space.id%>" class="btn btn-outline-danger">Book now</a>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-2"></div>
        </div>
    <% end %> 
</div>
